main/data/*
main/checkpoints/*
requirements_non_critical.txt
/main/__pycache__/
data/*
__pycache__/*
wandb_api_key.txt/*
analysis/*
cache_dir/*
data_dir/*
images/*
raw_datasets/*
checkpoints/*
results/*
tmp/*
yaml_folder/old/*
utils/__pycache__/*
.vscode/*
